html, body {
    margin: 0;
    padding: 0; 
    font-family: "Lucida Console", Courier, monospace;
}

nav{
    background-color: #333;
    color: white;
    padding: 3px;
    margin-bottom: 50px;
    margin-top: 0px ;
}

#editor {
    display: flex;
    justify-content: center;
}

#markdown-content, #preview-content {
    width: 35%;
    height: 80vh;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

#markdown-content {
    resize: none;
    background-color: rgb(49, 49, 49);
    color: white;
    font-family: initial;
}

#preview-content {
    font-family: initial;
}

#component-block{
    width: 20%;
}

nav ul, #component-block ul {
    list-style-type: none;
}

#added-component-block, #new-component-block{
    width: auto;
    min-height: auto;
    margin: 2px;
    border: 1px dashed;
}

#new-component-block{
    margin-top: 80px;
}

.list{
    height: 60px;
    margin: 10px;
    display: flex;
    align-items: center;
    cursor: grab;
    background: #9fcfff;
}

.list img{
    width: 20px;
    margin-right: 15px;
    margin-left: 20px;
}